@media (max-width: 768px) {
  .grid-col-2 {
    grid-template-columns: 1fr;
  }

  .grid-reversed :first-child {
    order: 0;
  }

  .navbar-brang img {
    width: 40px;
    height: 40px;
  }

  .navbar .navbar-nav-left,
  .navbar .navbar-nav-right {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

@media (max-width: 960px) {
  .text-xl {
    font-size: 30px;
  }
  .text-lg {
    font-size: 25px;
  }
  .text.md {
    font-size: 19px;
  }

  .footer {
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .box {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }

  .divider {
    max-width: 90%;
  }
}
